body {
  font-family: Georgia,
  -apple-system,
  'Nimbus Roman No9 L',
  'PingFang SC Regular',
  'Hiragino Sans GB',
  'Microsoft Yahei',
  'WenQuanYi Micro Hei',
  'ST Heiti', sans-serif
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgb(172, 248, 244);
  border-radius: 10px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(140, 193, 252, .3);
  background-color: rgb(140, 193, 252);
}

.main-0 {
  display: table;
  position: absolute;
  height: 100%;
  width: 100%;
}

.main-1 {
  display: table-cell;
  vertical-align: middle;
}

.main-2 {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.main {
  background: linear-gradient(247deg, rgba(87, 231, 157, 0.5), rgba(255, 0, 0, 0) 80.71%),
  linear-gradient(157deg, rgba(22, 255, 247, 0.5), rgba(0, 255, 0, 0) 80.71%),
  linear-gradient(57deg, rgba(164, 176, 234, 0.5), rgba(0, 255, 0, 0) 80.71%),
  linear-gradient(6deg, rgba(104, 175, 255, 0.5), rgba(0, 0, 255, 0) 80.71%);
  background-attachment: fixed;
  border: solid rgba(230, 255, 255, 0.7);

}

[v-cloak] {
  display: none
}

.floating_button {
  opacity: 0.5;
  position: fixed;
  bottom: 30px;
  right: 40px;
  z-index: 1000;
}

.floating_button:hover {
  opacity: 1;
}
